{% load static %}

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{% static 'style.css' %}">
<head>
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/lane" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lisa App</title>
</head>
<body>
        <header id = 'header' style = "margin-bottom: 20px;">
            <a href = '/'>
                <img  id = 'main_logo' src = "{% static 'MAINLOGO.png' %}" >
            </a>                <div id = 'button_container'>
                    {% if user.is_authenticated %}
                    <a  id = 'login_button' style = "margin-right: 15px;" href = "https://rootandrise.live/" class="btn btn-primary">Website</a>
                    <a  id = 'login_button' style = "margin-right: 10px;" href = "/profile" class="btn btn-primary">Profile</a>
                    <a  id = 'login_button'  href = "/logout" class="btn btn-primary">Logout</a>
                    {% else %}
                    <a  id = 'login_button' style = "margin-right: 15px;" href = "https://rootandrise.live/" class="btn btn-primary">Website</a>
                    <a  id = 'signup_button' href = "/signup" class="btn btn-primary">Sign Up</a>
                    <a  id = 'login_button' href = "/login" class="btn btn-primary">Login</a>
                    {% endif %}
                </div>
            </header>
            <div id = "program_container">

                <h1>All Programs</h1>
                {% if upjunctions %}
                    <div style="display:flex; flex-direction: column;">
                        {% for upjunction in upjunctions %}
                        <a style="font-weight: bolder;" id="program_button" href="/program/?name={{ upjunction.program.name }}&amp;date={{ upjunction.start_date }}" class="btn btn-primary">
                            <h2 style = "font-weight: bolder;">{{upjunction.program.name}}</h2>
                            <p>Date: {{ upjunction.start_date }}</p>
                        </a>
                        {% endfor %}
                    </div>
                {% else %}
                <p>No programs available.</p>
                {% endif %}
            </div>

        <div id = 'footer'>
            <p id = 'footer_text'>© All rights reserved 2023.</p>
        </div>
    </body>
</html>